{% extends "base.html" %}
{% load static %}

{% block content %}



<h1>Shopping Bag</h1>

<hr>

<div>
        {% if bag_items %}
        <table class="table">
        <span>
            {{ bag_items }}
        </span>
        {% else %}
        <p>Your bag is empty.</p>
        <a href="{% url 'products' %}">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep Shopping</span>
        </a>
        {% endif %}
    

</div>

{% endblock %}