{% extends "base.html" %}
{% load static %}

{% block content %}



<h1>Shopping Bag</h1>

<hr>

<div>
    {% if bag_items %}
    <table class="table">
        <thead>
            <th>Shopping Bag</th>
        </thead>
        <tfoot>
            <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
            <h4><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_delta > 0 %}
            <p>
                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
            </p>
            {% endif %}
        </tfoot>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <span>
        {{ bag_items }}
    </span>
    {% else %}
    <p>Your bag is empty.</p>
    <a href="{% url 'products' %}">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span>Keep Shopping</span>
    </a>
    {% endif %}


</div>

{% endblock %}