{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="title">
                Welcome To Our Online Bookstore!
            </h1>
            <h2 class="subtitle">
                free delivery on orders over €{{ free_delivery_threshold }}!
            </h2>
            <p class="control">
                <a href="{% url 'products' %}" class="button is-info">
                    Browse The Books!
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}