{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div>
    <h1>Checkout</h1>
</div>
<div>
    <p>Order Summary ({{ product_count }})</p>
</div>
<div>
    <p>Subtotal</p>
</div>
{% for item in bag_items %}
<tr>
    <a href="{% url 'product_detail' item.product.id %}">
        {% if item.product.image %}
        <img src="{{ item.product.image.url }}" alt="{{ product.name }}">
        {% else %}
        <img src="{{ MEDIA_URL }}no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
            alt="{{ product.name }}">
        {% endif %}
    </a>
</tr>
<tr>
    <p><strong>{{ item.product.name }}</strong></p>
    <p>Qty: {{ item.quantity }}</p>
</tr>
<hr>
<div>
    <div>
        <p>Order Total:</p>
        <p>Delivery:</p>
        <p>Grand Total:</p>
    </div>
    <div>
        <p>€{{ total | floatformat:2 }}</p>
        <p>€{{ delivery | floatformat:2 }}</p>
        <p><strong>€{{ grand_total | floatformat:2 }}</strong></p>
    </div>
</div>

<div>
    <p>Please fill out the form below to complete your order</p>
</div>
    {% endfor %}
    {% endblock %}