{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <h1>Products</h1>
    {% for c in current_categories %}
    <span>
        <a href="{% url 'products' %}?category={{ c.name }}">
            <span>{{ c.friendly_name }}</span>
        </a>
    </span>
    {% endfor %}
    <div class="select">
        <select>
            <option>Select dropdown</option>
            <option>With options</option>
        </select>
    </div>
    <div class="container">
        <div class="notification is-primary">
            {% for product in products %}
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        “{{ product.name }}”
                    </p>
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                            alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <p class="subtitle">
                        {{ product.author }}
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            €{{ product.price }}
                        </span>
                    </p>
                    <p class="card-footer-item">
                        {% if product.rating %}
                        <span>
                            <i class="fas fa-star"></i> {{ product.rating }}
                        </span>
                        {% else %}
                        <span>
                            <i class="fas fa-star"></i> No Rating
                        </span>
                        {% endif %}
                    </p>
                    <p class="card-footer-item">
                        {% if product.category %}
                        <span>
                            <!--The 'user friendly name' is displayed on the page,
                            and the 'programmatic name' functions as the href-->
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-folder-open"></i> {{ product.category.friendly_name }}
                            </a>
                        </span>
                        {% endif %}
                    </p>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

{% endblock %}